--extra-index-url https://download.pytorch.org/whl/cpu

# project dependencies
yt-dlp>=2025.05.22
fastapi
uvicorn[standard]
demucs
langdetect
selenium
dotenv
beautifulsoup4
lyricsgenius
undetected-chromedriver
setuptools<60

# diagnostic tools
ruff
